<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.thales_silva_nascimento.alarmmed">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher22"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- Splash Screen -->
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tela Inicial -->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activity.MedicoCadastro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MedicoDetalhe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CriaPerfl"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditaPerfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ReceitaCadastro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TelaAlarme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MedicamentoCadastro"
            android:screenOrientation="portrait" />

        <!-- Declara o service do Alarme -->
        <service android:name=".AlarmeService" />
        <!-- Declara o service do Lebrete -->
        <service android:name=".LembreteCompraService" />
        <!-- Declara o service do BootService -->
        <service android:name=".OnBootService" />
        <!-- Declara que a classe AlarmeReceiver é o tipo de receiver -->

        <receiver android:name=".AlarmeReceiver" />
        <!-- Declara que a classe AlarmeReceiver é o tipo de receiver -->
        <receiver android:name=".LembreteCompraReceiver" />
        <!-- Receiver ao iniciar o sistema -->
        <receiver android:name=".OnBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- Receiver para troca de fuso -->
        <receiver android:name=".TimeZoneChangeReceiver" />

        <activity
            android:name=".activity.MedicamentoDetalhe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LembreteCompraRemedio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdicionarDose"
            android:label="@string/title_activity_adicionar_dose"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.InfoMedAlarmes" />
        <activity
            android:name=".activity.ActivityFloatingbuttonTelaInicial"
            android:label="@string/title_activity_excluir_teste_flotingbutton"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Transparent.NoActionBar" />
        <activity
            android:name=".activity.Historico"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Email"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfiguracaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ConfigSom"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Sobre"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Creditos"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.QRCODE" >

        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Informa a versão do google play servies que estamos utilizando -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.FarmaciaProxima"
            android:label="@string/title_activity_maps" />
    </application>

</manifest>